<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/21939608/pexels-photo-21939608/free-photo-of-love-text-in-light-bulb.jpeg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-danger text-center ml-3">Featured</small>
        <small class="bg-light text-danger text-center ml-3">Views - 100,256</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
        <p>jsad</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATE - sep 20, 2021</small>
    </div>
</div>